.body{
    margin: 0;
    padding: 0%;

}

header{
    display: flex;
    width: 100%;
    nav{
        display: flex;
        height: 10vh;
        justify-content: space-between;
    }
}    

.figure h1{
    position: absolute;
    display: flex;
    color: #fff;
 
    
    button{
        position: absolute;
    }
    
}
.row-cols-lg-5>* {
    flex: 0 0 auto;
    width: 50%;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;}